<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <title>Document</title>
</head>

<script>
  const submitUpload = () => {

    const text = document.getElementById("inputText").value;
    const imageFile = document.getElementById("img").files[0];

    function getBase64(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => resolve(() => reader.result);
        reader.onerror = error => reject(error);
      });
    }


    getBase64(imageFile).then(
      data => {
        console.log(data)
        localStorage.setItem("img", data);
        const test = localStorage.getItem("img");

        axios({
          method: 'post', //통신 방식
          url: 'http://localhost:4000/api/images', //통신할 페이지
          headers: {
            "Content-Type": "application/json"
          },
          data: {img : test, text}, //인자로 보낼 데이터
        })
          .then(response => {
            console.log("성공");
            console.log(response);
          })
          .catch(error => {
            console.log(error);
          })
      }
    );


   

  }
  window.onload = () => {
    const btnSubmit = document.getElementById("btn-submit");

    btnSubmit.addEventListener("click", submitUpload);
  }
</script>

<body>
  <label for="img"></label>
  <input type="file" id="img" name="img" , accept="image/*">
  <input type="text" name="inputText" id="inputText">
  <input type="button" id="btn-submit" value="제출">
  <div id="container">
    <img src="http://localhost:4000/uploads/45791d51-fafe-42d2-af22-7fb32b4646c5.jpeg" alt="">
    <img src="http://localhost:4000/uploads/bc6b55e9-976a-4b8f-840d-3a52a58003d5.jpeg" alt="">
  </div>
</body>
</html>
